.block_container{

  width:100%;
  height:100px;
  background-color: #16b56d;

}

.block{

  width:100%;
  //height:100px;
  //background-color: #16b56d;

}
.block_buttons{
  float: right !important;


}
.block_buttons_container{
  width:100%;
  height:30px;
  background-color: yellow;
}

.editing{
  background-color: rgb(227, 77, 77);
}

.blocks_list{
  list-style: none;
  padding:0px;
  li{
    margin-bottom: 20px;
  }
}
